<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="alwaysTop" value="true"/>
    <add key="ipInNames" value="false"/>
    <add key="autoConnect" value="false"/>
    <add key="fullName" value="true"/>
    <add key="currentTheme" value="DevExpress Dark Style"/>
  </appSettings>
</configuration>